@import '/src/global-style/index.module.scss';

@mixin flexx {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_container {
  background: #fff;
  max-width: 450px;
  width: 100%;
  max-height: 80vh;
  border-radius: 10px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .login_checkbox {
    @include flexx();
    justify-content: space-between;
  }

  .login_linkk {
    color: $green;
    text-decoration: none;
  }

  .input_container {
    margin: 5px 0;
  }

  .otp_container {
    margin: 50px 0;
  }

  .login_signup {
    text-align: center;
  }

  .login_btn {
    margin-top: 25px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .login_subheader {
    font-size: 16px;
    text-align: center;
    margin: 0;
    font-weight: 400;
  }

  .login_below_header {
    color: $light-black;
    text-align: center;
    font-size: 14px;
    padding-top: 3rem;
  }

  .login_form {
    p {
      font-size: 14px;
      margin: 10px 0;
    }
  }

  @include mobile {
    background: transparent;
    max-width: 100%;
    padding: 0;
    margin-top: 20px;
  }
}

.login_white_container {
  @include mobile {
    background: white;
    max-width: 100%;
    padding: 30px;
    min-height: 86vh;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
}
