.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000099;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 100000000;
}

.modal_content {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  padding: 0.3rem;
  outline: none;
  background-color: #fff;
  color: #1a202c;

  @media (max-width: 500px) {
    width: 90%;
  }
}

.max_modal_content {
  width: 480px;

  @media (max-width: 760px) {
    width: 80%;
  }

  @media (max-width: 500px) {
    width: 90%;
  }
}

/* Define fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Apply fade-in animation to modal content */
.fade_in {
  animation: fadeIn 0.2s ease-in forwards;
}
