@import '/src/global-style/index.module.scss';

.top_filter {
  background: #ffffff;
  border-radius: 10px;
  user-select: none;
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
  outline: none;
  .radio_element {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    cursor: pointer;

    &.disabled {
      opacity: 0.7;
      cursor: default;
    }

    label {
      all: unset;
      color: #696f79;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      font-family: 'Raleway';
      line-height: normal;
    }

    .radio {
      width: 16px;
      height: 16px;
      border-radius: 2px;
      border: 1px solid #474747;
      background: var(--primary-contrast, #fff);
      display: flex;
      justify-content: center;
      align-items: center;

      &.selected {
        background-color: $green;
        border: 1px solid $green;
      }

      svg {
        color: #fff;
        font-size: 12px;
      }
    }
  }
}
